@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family:'Open Sans',sans-serif;
    background: #fff;
    color:#333;
    line-height:1.6;
}

ul{
    list-style-type: none;/*removes bullet points*/
}

a{
    color:#333;/*changes color of text*/
    text-decoration: none;/*removes underline under the navbar links*/
}

h1,h2{
    font-weight:300;
    line-height:1.2;
}

p{
    margin: 10px 0;/*moves the paragraph "We provide world class financial assistance down a bit"(10px) (0) is left and right*/
}

/* Navbar */

.navbar{ /* Since it is a class i use "." instead of "#" */
display:flex;
align-items: center;
justify-content: space-between;/*You want the h1 to be on one side and the (ul links to be on the other side)*/
background-color:#333;/*changes background-color of navbar*/
color:white;
opacity:0.8;/*Makes navbar see-through*/
position: fixed;
top:0px;
height:70px;/*pretty common height for a navbar*/
padding:0 30px;/*the "0" is top and bottom the "30px" is left and right*/
left:0;/*stretches navbar left*/
 right:0;/*stretches navbar right */
}

.navbar a{
color:#fff;/*Changes color of text*/
padding:10px 20px;/*10px is top and bottom and 20px is left and right*/
margin: 0 5px;
}

.navbar a:hover{
border-bottom:#28a745 2px solid;
}

.navbar ul{
    display:flex;/*puts the links from on top of eachother to side by side*/
}

.navbar .logo{
    font-weight: 400;/*"Edgeledger (word)" font size*/
}

/* Header */

.hero{
    background:url('../image_resources/home/showcase.jpg') no-repeat center center/cover;
    height:100vh;/*how big of the image goes (vertically)*/
    position:relative;/*position that is relative to its normal position*/
    color:#fff;
}

.hero .content{/**/
display:flex;/*puts P tag next to h1 tag instead of under it*/
flex-direction: column;/*changes direction from default of display:flex; which is flex-direction:row; to flex-direction:column;*/
align-items: center;
justify-content: center;
text-align: center;/*text is aligned on the cross axis(x-axis) "Horizontally" side to side*/
height:100%;/*since the vh of the header is 100 viewport height i can put it as 100% of its container*/
/*usually justify-content:center would put it directly in the middle but it is not doing that because there is no "height"*/
padding:0 20px;
}

.hero .content h1{
    font-size:55px;/*size of h1*/
}

.hero .content p{
    font-size:23px;
    max-width:600px;/*do not want to extend paragraph out*/
    margin:20px 0 30px;
}

.hero::before{/*Allows us to insert content"before" this element*/
content:'';
position:absolute;
top:0;/*The top CSS property participates in specifying the vertical position of a positioned element*/
left:0;/*The left CSS property participates in specifying the horizontal position of a positioned element.*/
width:100%;
height:100%;
background:rgba(0,0,0,0.6);/*overlay (this is another option if i dont want to use opacity*/
}
    








