@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family:'open Sans',sans-serif;
    background: #fff;
    color:#333;
    line-height:1.6;
}

ul{
    list-style-type: none;/*removes bullet points*/
}

a{
    color:#333;/*changes color of text*/
    text-decoration: none;/*removes underline under the navbar links*/
}

h1,h2{
    font-weight:300;
}

